#Navbar {
  position: fixed;
  width: 100dvw;
  top: 0;
  left: 0;
  z-index: 999;

  .navbar-container {
    display: flex;
    max-width: 1920px;
    width: 100%;
    padding-block: 15px;
    padding-inline: 40px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;

    .logo-image {
      height: 40px;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(0.95);
      }
    }

    .navbar-menu {
      display: flex;
      gap: 40px;
      list-style: none;
      align-items: center;

      > li {
        > a {
          color: var(--clr-text-dark);
          text-decoration: none;
          font-weight: 300;
          transition: color 0.2s ease-in-out;
        }

        .menu-active {
          font-weight: 700;
        }

        > a:hover {
          color: var(--clr-army);
        }
      }

      /* .special-item {
        padding: 10px 20px;
        color: var(--clr-text-light);
        background-color: var(--clr-army);
        box-shadow: var(--box-shadow1);
        border-radius: 30px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }

      .special-item:hover {
        transform: scale(0.95);
        box-shadow: var(--box-shadow2);
      } */
    }
  }
}
